@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

html{
    
    font-weight: 300;
    color: #fff;
    scroll-behavior: smooth;
}

body{
    background-color: var(--cor-fundo);
    height: 100vh;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between{
    justify-content: space-between;
}

.alinhar-itens-no-centro{
    align-items: center;
}

.redes a{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes a:hover{
    color: var(--cor-primaria);
}

.redes a i{
    line-height: 40px;
}

.outer-shadow{
    box-shadow: 2px 2px 4px var(--cor-sombra-primaria), -2px -2px 4px var(--cor-sombra-secundaria);
}

.inner-shadow{
    box-shadow: inset 3px 3px 4px var(--cor-sombra-primaria), inset -3px -3px 4px var(--cor-sombra-secundaria);
}